@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

:root {
  --color-brand-normal: #2b7fff;
  --color-brand-dark: #011c44;
  --color-brand-light: #ffffff;
  --color-primary-light: #747272;
  --color-primary-dark: #000000;
  --color-secondary-dark: #4a4a4a;
  --color-header: #ffffff40;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  background-color: var(--color-brand-light);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

.accent {
  color: var(--color-brand-normal);
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  color: var(--color-brand-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 14px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand-normal);
}

/* Link */
.header-link {
  color: var(--color-brand-dark);
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s;
}

.header-link:hover {
  color: var(--color-brand-normal);
}

.footer-link {
  color: var(--color-brand-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-link:hover {
  color: var(--color-brand-normal);
}

.address-link {
  color: var(--color-brand-light);
  margin-bottom: 16px;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

/* Header */
.header {
  background: var(--color-header);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px 0;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-address {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-icon {
  fill: var(--color-brand-dark);
  transition: fill 0.2s;
}

.header-icon:hover {
  fill: var(--color-brand-normal);
}

/* Hero section */
.hero-position {
  padding-top: 16px;
  position: relative;
  top: 20px;
  left: 106px;
}

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 114px;
  padding-bottom: 134px;
  background-image: url(../images/hero-background.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.hero-title {
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  max-width: 528px;
  margin-bottom: 40px;
  line-height: 0.8;
}

.hero-comment {
  color: var(--color-secondary-dark);
  max-width: 238px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

/* Description section */
.description-section {
  padding-bottom: 128px;
}

.description-text p {
  line-height: 1.7;
  margin-bottom: 40px;
}

.description-text p:last-child {
  margin-bottom: 0;
}

.description-text span {
  font-weight: 600;
}

.description-title {
  margin-bottom: 40px;
  max-width: 530px;
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.description-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.description-content {
  flex-basis: 60%;
  padding-top: 40px;
}

.description-photo {
  position: relative;
  height: 695px;
  flex-basis: 40%;
}

.photo-face-left,
.photo-face-right {
  border-radius: 100%;
}

.photo-face-left {
  position: absolute;
  top: 0;
  left: 0;
}

.photo-face-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.star1 {
  fill: var(--color-brand-dark);
  position: absolute;
  top: 340px;
  right: 294px;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.star2 {
  fill: var(--color-brand-normal);
  position: absolute;
  right: -20px;
  top: 32px;
  animation: morphingBar 1s infinite;
}

@keyframes morphingBar {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
}

.star3 {
  fill: var(--color-primary-light);
  position: absolute;
  right: 6px;
  top: 268px;
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Advantages section */
.wave {
  position: relative;
}

.wave::before {
  position: absolute;
  content: '';
  background-image: url(../images/blue-background.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: -240px;
  z-index: -1;
}

.advantages-title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0 auto 48px;
  max-width: 442px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.advantages-item {
  padding: 24px 32px;
  border-radius: 32px;
  max-width: 316px;
  background-color: var(--color-brand-light);
  border: 1px solid var(--color-primary-light);
  box-shadow: 0px 4px 4px 0px #a8c6f561;
  text-align: center;
  transition: transform 0.2s;
}

.advantages-item:hover {
  transform: scale(1.05);
}

.advantages-text {
  margin-bottom: 0;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.3;
}

.advantages-text:not(:last-child) {
  margin-bottom: 16px;
}

.advantages-icon {
  fill: var(--color-brand-normal);
}

/* Procedures section */
.procedures-title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0 auto 48px;
  text-align: center;
}

.procedure-title {
  position: absolute;
  margin-bottom: 0;
  color: var(--color-brand-light);
  max-width: 152px;
  text-align: center;
  bottom: 32px;
  left: 100px;
}

.procedures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.procadures-list {
  display: flex;
  gap: 16px;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  position: relative;
  width: 344px;
  height: 456px;
  border-radius: 4px 120px 4px 120px;
  overflow: hidden;
  transition: transform 0.2s;
}

.procedures-card:hover {
  transform: scale(1.05);
}

.procedure-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gradient-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  transition: 0.2s;
}

.carousel-button:hover {
  background: var(--color-brand-normal);
  border: 1px solid var(--color-brand-normal);
}

.arrow-icon {
  fill: var(--color-brand-dark);
}

.carousel-button:hover .arrow-icon {
  fill: var(--color-brand-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* Location section */
.location-section {
  padding-bottom: 96px;
}

.location-title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0 auto 48px;
  text-align: center;
}

.location-comment {
  color: var(--color-brand-light);
  font-weight: 600;
}

.location-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.location-map {
  width: 606px;
  height: 480px;
  border-radius: 32px;
}

.location-contact {
  background-color: var(--color-brand-dark);
  background-image: url(../images/location-background.png);
  width: 422px;
  height: 482px;
  padding: 48px 57px;
  border-radius: 32px;
  text-align: center;
}

.form-field-location {
  margin-bottom: 16px;
}

/* Footer section */
.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-brand-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  position: absolute;
  width: 248px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url('../images/pipette.png');
  content: '';
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-menu,
.address-info {
  flex-grow: 1;
}

.footer-icon-container {
  display: flex;
  gap: 24px;
}

.footer-icon {
  fill: var(--color-brand-light);
  transition: fill 0.2s;
}

.footer-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  color: var(--color-primary-light);
  margin-bottom: 0;
  font-size: 13px;
}

/* Modal  */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  display: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 724px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-color: var(--color-brand-dark);
  background-image: url('../images/location-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 48px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.modal-title {
  color: var(--color-brand-light);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.modal-text {
  margin-bottom: 32px;
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Form */
.form-container {
  width: 100%;
  max-width: 310px;
  margin: 0 auto;
  text-align: center;
}

.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.form-input {
  padding: 18px 32px;
  width: 100%;
  max-width: 310px;
  font-size: 13px;
  line-height: 1.17;
  border: 2px solid var(--color-primary-light);
  border-radius: 32px;
  background-color: transparent;
}

.form-input:focus {
  background-color: var(--color-primary-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-brand-light);
  font-size: 13px;
  line-height: 1.17;
}

.form-button {
  margin-bottom: 8px;
}

.form-button:hover {
  color: var(--color-brand-light);
}

.form-terms {
  color: var(--color-primary-light);
  font-size: 12px;
  margin-bottom: 0;
}

.form-terms-link {
  color: var(--color-primary-light);
  text-underline-offset: 2px;
}
